<ion-header>
  <ion-navbar color="primary">
    <ion-title>FoodFeed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item >
          <ion-thumbnail  item-left>
            <img src="https://firebasestorage.googleapis.com/v0/b/foodfeed-96339.appspot.com/o/Pizza.png?alt=media&token=42de387b-7ec0-4f63-a3b2-c254c06e6a17">
          </ion-thumbnail>
          <h2>Onion and Capsicum Pizza</h2>
          <p>
            <ion-icon name="thumbs-up">45</ion-icon>
            <ion-icon name="chatboxes">2</ion-icon>
          </p>
          <button ion-button clear item-right color="primary" (click)="navigate()"> View</button>
    
        </ion-item>
        <ion-item >
            <ion-thumbnail  item-left>
              <img src="https://firebasestorage.googleapis.com/v0/b/foodfeed-96339.appspot.com/o/Pizza.png?alt=media&token=42de387b-7ec0-4f63-a3b2-c254c06e6a17">
            </ion-thumbnail>
            <h2>Onion and Capsicum Pizza</h2>
            <p>
              <ion-icon name="thumbs-up">45</ion-icon>
              <ion-icon name="chatboxes">2</ion-icon>
            </p>
            <button ion-button clear item-right color="primary" (click)="navigate()"> View</button>
      
          </ion-item>
          <ion-item >
              <ion-thumbnail  item-left>
                <img src="https://firebasestorage.googleapis.com/v0/b/foodfeed-96339.appspot.com/o/Pizza.png?alt=media&token=42de387b-7ec0-4f63-a3b2-c254c06e6a17">
              </ion-thumbnail>
              <h2>Onion and Capsicum Pizza</h2>
              <p>
                <ion-icon name="thumbs-up">45</ion-icon>
                <ion-icon name="chatboxes">2</ion-icon>
              </p>
              <button ion-button clear item-right color="primary" (click)="navigate()"> View</button>
        
            </ion-item>
            <ion-item >
                <ion-thumbnail  item-left>
                  <img src="https://firebasestorage.googleapis.com/v0/b/foodfeed-96339.appspot.com/o/Pizza.png?alt=media&token=42de387b-7ec0-4f63-a3b2-c254c06e6a17">
                </ion-thumbnail>
                <h2>Onion and Capsicum Pizza</h2>
                <p>
                  <ion-icon name="thumbs-up">45</ion-icon>
                  <ion-icon name="chatboxes">2</ion-icon>
                </p>
                <button ion-button clear item-right color="primary" (click)="navigate()"> View</button>
          
              </ion-item>
      </ion-list>
</ion-content>
<!--
   <ion-list>
    <ion-item *ngFor="let value of itemsRef$ | async">
      <ion-thumbnail *ngIf="value.item-thumbnail" item-left>
        <img src="{{value.item-thumbnail}}">
      </ion-thumbnail>
      <h2>{{value.item-title}}</h2>
      <p>
        <ion-icon name="thumbs-up">{{value.item-like}}</ion-icon>
        <ion-icon name="chatboxes">{{value.item-num-comments}}</ion-icon>
      </p>
      <button ion-button clear item-right></button>

    </ion-item>
  </ion-list>
-->